---
interface Props {
  experiances: {
    time?: string;
    name: string;
    description?: string;
    role: string;
    company: string;
  }[];
}
const { experiances = [] } = Astro.props;
---

<div class="flex flex-col gap-4">
  <h1 class="text-2xl font-bold uppercase">Experiance</h1>
  <div class="flex flex-col gap-8">
    {
      experiances.map(({ name, time, role, company }) => {
        return (
          <div class="flex flex-col text-sm">
            {time && (
              <p>
                {time} <span class="opacity-50">{`(${role})`}</span>
              </p>
            )}
            <p class="text-base font-medium">
              {company}
              {!time && <span class="text-sm opacity-50">{` (${role})`}</span>}
            </p>
            <p>{name}</p>
          </div>
        );
      })
    }
  </div>
</div>
